DB_URL=

PORT = 
encrypt_decrypt_key = 

BACKEND_URL = 
FRONTEND_URL=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

#shoipfy creds
SHOPIFY_URL=
SHOPIFY_API_KEY=

#wordpress creds
WORDPRESS_URL=